# RDKit

rdkit=2018.03.3.0
numpy=1.13

# Django app

django=2.2.3
django-extensions=2.1.0
djangorestframework=3.9.4
pygraphviz
psycopg2=2.7.5
celery=4.1.0
scipy=1.1.0
kombu=4.1.0
python-memcached=1.59
ncurses=6.0
sympy=1.3

# Database

postgresql=10.3
rdkit-postgresql=2018.03.3.0

# Web server

gunicorn=19.9.0
